body{
    padding: 0;
    margin: 0;
}

.calc{
    position: relative;
    justify-content: center;
    text-align: center;
    left: 50px;
    top: 100px;
    
}

button{
    width: 100px;
    height: 50px;
    font-size: larger;
}




